{% extends "base.html" %}
{% load static %}
{% block description %}{{ object.description }}{% endblock %}
{% block keywords %}{{ object.keywords }}{% endblock %}
{% block title %}{{ object.title }}{% endblock %}

{% block content %}
<div class="cat_item_wrap cat_container_noajax">
  <div class="cat_item_view">
    <picture class="cat_item_view_img">
      <source id="slide_src" srcset="{{ images.first.img.url }}" type="image/webp">
      <img class="cat_item_view_img" id="slide" src="{{ images.first.get_jpg_url }}" alt="{{ item.title }}" data-img_id="{{ images.first.pk }}">
    </picture>
    <svg class="icon-left icon-nav" onclick="nextSlide(0)"><use xlink:href="{% static 'core/img/icons.svg' %}#left" /></svg>
    <svg class="icon-right icon-nav" onclick="nextSlide(1)"><use xlink:href="{% static 'core/img/icons.svg' %}#right" /></svg>
    <div class="cat_thumb_container">
      {% for img in images %}
      <picture>
        <source srcset="{{ img.get_thumb_url }}" type="image/webp">
        <img src="{{ img.get_thumb_jpg_url }}" data-img_id="{{ img.pk }}" rel="thumb" {% if forloop.counter == 1 %}class="thumb-active"{% endif %}>
      </picture>
      {% endfor %}
    </div>
  </div>
  <div class="cat_item_info">
    <h1 class="main_title black">{{ item.title }}</h1>
    <div id="description">{{ item.description|safe }}</div>
  </div>
</div>
<script>
  var context_list = {{ context_list|default:'[]' }};
  var url_type = "{{ url_type }}";
  var url_get = "{{ url_get }}";
  var current_photoobj = {{ current_photoobj|default:0 }};
</script>
{% endblock %}












