<header>
  <input class="nav-burger_checkbox" type="checkbox" id="burger">
  <label class="nav-burger" for="burger">Меню</label>
  <nav>
    <a href="/" title="Главная">Главная</a>
    <a href="/works/" title="Наши работы">Наши работы</a>
    <a href="/blog/" title="Блог">Статьи</a>
    <a href="/about/contact/" title="Контакты">Контакты</a>
    <address class="flex-column">
        <a href="tel:+79202068398" title="Контакты">8(920)-206-83-98</a>
        <a href="mailto:shkafkupebel@ya.ru?subject=Заявка%20с%20сайт">shkafkupebel@ya.ru</a>
    </address>
  </nav>
</header>