{% extends "base.html" %}
{% load static %}
{% block description %}{{ data.description }}{% endblock %}
{% block keywords %}{{ data.keywords }}{% endblock %}
{% block title %}К-МЕБЕЛЬ|Главная{% endblock %}

{% block content %}
<div class="preview">
  <div class="preview-content">
    <img class="headlogo" src="{% static 'core/img/logo_b.svg' %}" alt="logo">
    <span class="head_slogon">on-line салон мебели на заказ в Белгороде</span>
    <a href="#contact" class="bt">Расчитать проект</a>
  </div>
  <picture>
    <source srcset="{% static 'core/img/KM_preview.webp' %}" type="image/webp">
    <img class="headbg" src="{% static 'core/img/KM_preview.webp' %}" alt="Обложка">
  </picture>
</div>
  <h1 class="main_title">Шкафы-купе . Гардеробные . Двери-купе</h1>
<section>
  <div class="tile-wrap flex-row">
  {% for part in partitions %}
    <div class="tile-part">
      <a href="{{ part.url }}" class="unit-link" aria-label="{{ part.title }}"></a>
      <figure>
        <figcaption>
          <h4 class="headline">{{ part.title|safe }}</h4>
          {% if part.description %}
          <h5 class="subhead">{{ part.description|safe }}</h5>
          {% endif %}
          <a href="{{ part.url }}" class="more">Подробнее</a>
        </figcaption>{% if part.cover %}
        <picture class="tile-cover">
          <source srcset="{{ part.cover.url }}" type="image/webp">
          <img class="tile-cover" src="{{ part.cover_url_jpg }}" alt="{{ part.title|safe }}">{% endif %}
        </picture>
      </figure>
    </div>
  {% endfor %}
  </div>
</section>
<article>
  {{ data.main_content|safe }}
</article>{% if randphobj %}
<section>
  <h2 class="sechead">Некоторые наши работы</h2>
  <div class="wrap-cards">
    {% for obj in randphobj %}
    <a class="gallery_img_link" href="/works/{{ obj.pk }}" rel="slide" data-img_id="{{ obj.pk }}">
      <div class="card">
        <div class="card-img">
          <picture>
            <source srcset="{{ obj.get_middle_thumb_url }}" type="image/webp">
            <img src="{{ obj.get_middle_thumb_jpg_url }}" alt="фото">
          </picture>
        </div>
        <h3 class="main_title black">{{ obj.title }}</h3>
        <div class="card-desc">
          {{ obj.description|safe|truncatewords_html:45 }}
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</section>{% endif %}
<section>
  <div class="howwork flex-column">
    <h2 class="sechead">Как мы работаем</h2>
    <div class="flex-row">
      <figure>
        <svg class="icon-hw" width="100px" height="100px"><use xlink:href="{% static 'core/img/icons.svg' %}#chat" /></svg>
        <figcaption>обсуждаем предварительный проект и считаем стоимость</figcaption>
      </figure>
      <figure>
        <svg class="icon-hw" width="100px" height="100px"><use xlink:href="{% static 'core/img/icons.svg' %}#roulette" /></svg>
        <figcaption>выезжаем на замер</figcaption>
      </figure>
      <figure>
        <svg class="icon-hw" width="100px" height="100px"><use xlink:href="{% static 'core/img/icons.svg' %}#calc" /></svg>
        <figcaption>корректируем проект и делаем окончательный расчёт стоимости</figcaption>
      </figure>
      <figure>
        <svg class="icon-hw" width="100px" height="100px"><use xlink:href="{% static 'core/img/icons.svg' %}#contract" /></svg>
        <figcaption>заключаем договор</figcaption>
      </figure>
      <figure>
        <svg class="icon-hw" width="100px" height="100px"><use xlink:href="{% static 'core/img/icons.svg' %}#delivery" /></svg>
        <figcaption>изготавливаем, привозим и собираем</figcaption>
      </figure>
    </div>
  </div>
</section>
<section>
  <h2 class="full-width">Напишите нам, что бы рассчитать проект.</h2>
<div class="flex-row">
  <div class="tile">
    {{ data.send_content|safe }}
  </div>
  <form class="tile contact" id="contact" action="{% url 'contact_form' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
  <p> <input type="text" name="name" placeholder="Ваше имя" maxlength="50" class="form-control" id="id_name"></p>
  <p> <input type="text" name="phone" placeholder="Номер телефона. Обязательно" maxlength="50" class="form-control" required id="id_phone"></p>
  <p> <input type="text" name="email" placeholder="email" maxlength="50" class="form-control" id="id_email"></p>
  <p> <textarea name="body" cols="40" rows="10" placeholder="Текст сообщения. Обязательно" class="form-control" required id="id_body">
  </textarea></p>
  <p> <input type="file" name="files" multiple class="form-control" id="id_files"></p>
    <button class="btn" type="image">Отправить</button>
  </form>
</div>
</section>
<script>
  var context_list = {{ context_list }};
  var url_type = "{{ url_type }}";
  var url_get = "{{ url_get }}";
  var current_photoobj = {{ current_photoobj }};
</script>
{% endblock %}