{% extends "base.html" %}
{% block description %}{{ partition.description }}{% endblock %}
{% block keywords %}{{ partition.keywords }}{% endblock %}
{% block title %}{{ partition.title }}{% endblock %}

{% block content %}
<h1 class="main_title">{{ partition.title|safe }}</h1>
<div>{{ partition.content|safe }}</div>
<div class="gallery_grid">
{% for obj in phobj %}
<a class="gallery_img_link" href="{{ request.path }}{{ obj.pk }}" rel="slide" data-img_id="{{ obj.pk }}">
  <picture>
    <source srcset="{{ obj.get_middle_thumb_url }}" type="image/webp">
    <img class="gallery_grid_img" src="{{ obj.get_middle_thumb_jpg_url }}" alt="фото">
  </picture>
  <span class="manyfoto"></span>
</a>
{% endfor %}
</div>
<script>
  var context_list = {{ context_list }};
  var url_type = "{{ url_type }}";
  var url_get = "{{ url_get }}";
  var current_photoobj = {{ current_photoobj }};
</script>
{% endblock %}

