<table align="left" border="0" cellpadding="1" cellspacing="1" style="width:80%">
  <tbody>
    <tr>
      <td style="width: 150px;"><em><strong>Имя клиента:</strong></em></td>
        <td>{{ name }}</td>
     </tr>
    <tr>
      <td><em><strong>Почта:</strong></em></td>
        <td>{{ mail }}</td>
    </tr>
    <tr>
      <td><em><strong>Номер телефона:</strong></em></td>
      <td>{{ phone }}</td>
      </tr>
      <tr>
        <td><em><strong>Адрес:</strong></em></td>
        <td>{{ adres }}</td>
      </tr>
      <tr>
        <td><em><strong>Сообщение:</strong></em></td>
          <td>{{ message }}</td>
      </tr>
  </tbody>
</table>